/* ************* Root ************* */
:root {
    --color-bright: #ffffff;
}

/* ************* Config ************* */
* { font-family: "Monsterrat", sans-serif; }

body { 
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}


.bubble {
    width: clamp(2rem, 4vw, 4vw);
    height: clamp(2rem, 4vw, 4vw);
    background-color: aquamarine;
    border-radius: 100%;
    border: 1px solid #cccccc;
    
    position: absolute;
    animation: wave 10s ease-in-out infinite;
    box-shadow: inset 0 0 0.9em var(--color-bright);
    filter: drop-shadow( 10px 10px 0.4em #00000020);
    cursor: move;   
}

@keyframes wave {
    from { 
        transform: translate(-27%, 11%) scale(2.3, 2.3);
        opacity: 0.9;
     }    
    
    to { 
        transform: translate(35%, -29%) scale(0.01, 0.01);
        opacity: 0.001;
    }

    50% { transform: translate(-123%, 200%) scale(1.5, 1.5); }
    75% { transform: translate(51%, -130%) scale(0.8, 0.8); }
    90% { transform: translate(-211%, -231%) scale(0.2, 0.2); }
}

footer {    
    position: fixed;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    display:flex; 
    flex-direction: row;
    z-index: 100;
}

footer p {
    color: var(--color-bright);
    text-align: center;
    padding: 0.5em;
}

footer a:link,
footer a:visited { color: var(--color-bright); }